@import url('https://fonts.googleapis.com/css?family=Spectral+SC');
@import url('https://fonts.googleapis.com/css?family=Amaranth');

.reveal .backgrounds {
  /*background-image: linear-gradient(45deg, #c86464 0%, #825ac8 100%);*/
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.reveal .controls .navigate-right {
  border-left-color: white;
}

.reveal .controls .navigate-left {
  border-right-color: white;
}

.reveal .controls .navigate-up {
  border-bottom-color: white;
}

.reveal .controls .navigate-down {
  border-top-color: white;
}

.reveal .progress span {
  background-color: white;
}

.reveal .titlePage {
  font-family: 'Spectral SC', serif;
}

.reveal a {
  color: white;
}

.reveal h1 {
  font-size: 64px;
  font-weight: bold;
  color: white;
  margin-top: 1%;
  margin-bottom: 250px;
}

.reveal h2 {
  font-family: 'Amaranth', sans-serif;
  font-size: 42px;
  font-weight: bold;
  color: white;
  margin-bottom: 32px;
}

.reveal p {
  font-family: 'Amaranth', sans-serif;
  font-size: 32px;
  color: white;
}

.reveal li {
  padding-bottom: 20px;
}

.reveal ol {
  text-align: left;
  font-family: 'Amaranth', sans-serif;
  font-size: 32px;
  color: white;
}

.reveal ul {
  text-align: left;
  font-family: 'Amaranth', sans-serif;
  font-size: 32px;
  color: white;
}

.reveal .sub {
  margin-left: 30px;
}
